<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="/static//style.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <title>User signup</title>
    </head>
    <style>
        body,html{
            width: 100%;
            height: 100%;
            font-family: Arial, Helvetica, sans-serif;
            background-color: #f6f2ef
        }
    </style>
    <body>
        <div class="pannel-top pannel">
            <header class="center">
                <img width="98" height="78" src="/static/images/logo.svg">
            </header>
            <!-- form section -->
            <div class="center">
                <form id="card-1" class="user-signup">
                    <div class="user-style">
                        <h1>Log in to Camp</h1>
                        <div class="message">We've emailed you instructions for logging in</div>
                        <button type="submit">Use my <img width="72" height="24" alt="Google" title="Google" src="/static/images/google.svg"> account</button>
                        <p>Or, use my email address</p>
                        <h2>Email or username</h2>
                        <input placeholder="e.g. toto@pna.com" class="sign-in-ip" type="email">
                        <div id="password-div">
                            <h2>Password</h2>
                            <input class="sign-in-ip" type="password">
                        </div>
                        <button id="change-button" type="button" onclick="changeDiv()">Next</button>
                        <button id="login-button" type="button">Log in</button>
                    </div>
                </form>
            </div>
            <div class="help-card">
                <p>Help: <a href="#">Reset your password</a></p>
            </div>
        </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="/static/js/register-page.js"></script>
    </body>
</html>